*

!/.gitignore
!/prepare_environment.sh
!/conf.d
!/conf.d/config.sh
!/conf.d/build_*.conf
!/builders.d
!/builders.d/build_*.sh
!/builders.d/build_*.sh.disabled
!/deploy.sh
!/setup_path.sh.template
!/README.MD
!/build.sh
!/change_vars.sh
!/libs
!/libs/*.lib
!/config_vault.d
!/gglib
!/gglib/include
!/gglib/l.d
!/gglib/l.d/*.lib

!/ext
!/ext/*.sh
!/ext/*.py
!/ext/*.template

!/docs
!/docs/img/
!/docs/img/*.svg
!/docs/img/*.vsdx

!/script_var_changer
!/script_var_changer/script_change_var.py
!/change_vars.sh
!/vars.lis
