*

!/.gitignore
!/prepare_environment.sh
!/conf.d
!/conf.d/config.sh
!/conf.d/build_*.conf
!/builders.d
!/builders.d/build_*.sh
!/deploy.sh
!/setup_path.sh.template
!/README.MD
!/build.sh
!/make_setup_path.sh
!/libs
!/libs/*.lib
!/distribute.d
!/distribute.d/*
!/gglib
!/gglib/include
!/gglib/l.d
!/gglib/l.d/*.lib

!/ext
!/ext/*.sh
!/ext/*.template
